<div style="overflow: hidden;" class="vh-100" >
  
      <div  class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border: none; width:fit-content;">
            
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid"  />
              </div>
              
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <div>
                    
                  <form>
  
                    <div class="form-box form-outline ">
                        <div class="form-value">
                            <form action="">
                                <div class="p-1 py-5">
    

                                    <h2 >Login to Budget</h2>
                                    <h6 style="color: gray;"><b>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</b></h6>
                                </div>
                                <div class="inputbox1 ">
                            
                                    <input type="email" class="input-field " required>
                                    <label  for="">Email</label>
                                </div>
                                <div class="inputbox2">
                                
                                    <input type="password"  class="input-field " required>
                                    <label for="">Password</label>
                                </div>
    
                                <div class="forget">
                                  <input type="checkbox"><label style="color: black;" for="">Remember Me  </label>
                                 
                                
                              </div>
                              <div class="forget1">
                                <a style="color: black; text-decoration: none; " href="#">Forgot Password?</a>
                              </div>


                           
                                <div class="login-button">
                                    <button class="btn"><a style="text-decoration: none; color: white;" href="dashboard">Login</a></button>
                                  </div>
                                <div class="register">
                                    <a style="color: black;text-decoration: none;" href="#">Create New Account?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>