<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div style="border-right-style:inset ;" class="bg-white " id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold"><i
                class="fas fa-user-secret me-2"></i>Budget</div>
        <div class="list-group list-group-flush my-3">
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                    class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="user-profile">
                      <div class="user-adjust">
                            <div class="user-dp">
                              <img src="path_to_your_dp_image" alt="User Display Picture">
                            </div>
                      </div>
                        <div class="username">
                          catherin<br>
                          <p style="font-size: small; color: rgba(167, 167, 167, 0.86);">9392949229</p>
                        </div>
                      </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0">Dashboard</h2>
                
            </div>
            
            
            <br>
           
  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
        <div class="lorem"><h6 >Lorem, ipsum dolor sit amet consectetur adipisicing elit</h6></div>
        <div  style="border-width: 1px 1px 1px 1px;border-color: rgb(0, 0, 0);border-style: solid;" class="rounded-container">
            <pre>You have <b>32 support Requests pending for response  <u>view</u></b></pre>
          </div>
  
        <div class="container-fluid px-4">
            <div style="margin-left: -44px;    margin: -53px;" class="row g-3 my-4 p-5 me-2">
                <div class="col-md-3">
                    <div style="background-color: rgba(47, 47, 230, 0.9); color: white;height: 75%;" class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div style="margin-top: 17%;    margin-left: 23%;">
                         <div style="    margin-left: -36%;">
                                <p style="margin-bottom: 10px;" class="fs-5">Total Users</p>
                                <h3 style="margin-bottom: -75px;" class="fs-2">1,567</h3>
                         </div>
                           <div class="button">
                                <button  class="button" type="submit">
                                    
                                    2.36% ↑
                                   
                                </button>
                           </div>
                            <p class="fs-7 p-3">since last month</p>
                        </div>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div style="background-color: rgba(10, 137, 59, 0.897); color: white;height: 75%;" class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div style="margin-top: 17%;    margin-left: 23%;">
                           <div style="    margin-left: -36%;">
                                <p style="margin-bottom: 10px;" class="fs-5">Savings Account</p>
                                <h3 style="margin-bottom: -75px;" class="fs-2">1,500</h3>
                           </div>
                           <div class="button">
                                <button  class="button" type="submit">
                                    
                                    2.36% ↑<i class="fa-thin fa-arrow-up"></i>
                                   
                                </button>
                           </div>
                           <p class="fs-7 p-3">since last month</p>
                        </div>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div style="background-color: rgba(47, 47, 230, 0.9); color: white;height: 75%;" class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div style="margin-top: 17%;    margin-left: 21%;">
                            <div style="    margin-left: -36%;">
                                <p style="margin-bottom: 10px;" class="fs-5">savings Account</p>
                                <h3 style="margin-bottom: -75px;" class="fs-2">1,500</h3>
                            </div>
                           <div class="button">
                                <button  class="button" type="submit">
                                    
                                    2.36% ↑<i class="fa-thin fa-arrow-up"></i>
                                   
                                </button>
                           </div>
                           <p class="fs-7 p-3">since last month</p>
                        </div>
                    </div>
                </div>
  
                <div class="col-md-3">
                     <div style="background-color: rgba(10, 137, 59, 0.897); color: white;height: 75%;" class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div style="margin-top: 17%;    margin-left: 21%;">
                          <div style="    margin-left: -36%;">
                                <p style="margin-bottom: 10px;"  class="fs-5">Savings Account</p>
                                <h3 style="margin-bottom: -75px;" class="fs-2">1,500</h3>
                          </div>
                           <div class="button">
                                <button  class="button" type="submit">
                                    
                                    2.36% ↑<i class="fa-thin fa-arrow-up"></i>
                                   
                                </button>
                           </div>
                           <p class="fs-7 p-3">since last month</p>
                        </div>
                    </div>
            </div>
  
            <div class="row my-5">
                <h3 style="margin-bottom: -75px;" class="fs-4 mb-3">Recently Active Users</h3>
                <div class="col">
                    <table class="table bg-white rounded shadow-sm  table-hover">
                        <thead >
                            <tr>
                                <th scope="col" width="300" style="color: gray; background-color: rgba(128, 128, 128, 0.227);">USER ID/NAME</th>
                                <th scope="col" width="300" style="color: gray; background-color: rgba(128, 128, 128, 0.227);"  >PHONE NUMBER</th>
                                <th scope="col" width="500" style="color: gray; background-color: rgba(128, 128, 128, 0.227);">TRANSACTION CATAGORY</th>
                                <th scope="col" width="500" style="color: gray; background-color: rgba(128, 128, 128, 0.227);">TRANSACTION AMOUNT</th>
                                <th scope="col"  width="100" style="color: gray; background-color: rgba(128, 128, 128, 0.227);">ACCOUNT TYPE </th>
                                <th scope="col" width="500" style="color: gray; background-color: rgba(128, 128, 128, 0.227);">BALANCE AMOUNT</th>
                                <th scope="col" width="200" style="color: gray; background-color: rgba(128, 128, 128, 0.227);"></th>
                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Monicca James<br>
                                <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);">ID 12345677</p></th>
                                <td>+91 9837283727</td>
                                <td>Income<br>
                               <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);"> Salary</p></td>
                                <td>$200</td>
                                <td>Savings</td>
                                <td>$600000</td>

                                <td class="buttonv">
                                  
                                       <u>view</u>
                                       
                                      
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Monicca James<br>
                                    <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);">ID 12345677</p></th>
                                    <td>+91 9837283727</td>
                                    <td>Income<br>
                                   <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);"> Salary</p></td>
                                    <td>$200</td>
                                    <td>Savings</td>
                                    <td>$600000</td>
                                    <td class="buttonv">
                                  
                                        <u>view</u>
                                        
                                       
                                 </td>
                            </tr>
                            <tr>
                                <th scope="row">Monicca James<br>
                                    <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);">ID 12345677</p></th>
                                    <td>+91 9837283727</td>
                                    <td>Income<br>
                                   <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);"> Salary</p></td>
                                    <td>$200</td>
                                    <td>Savings</td>
                                    <td>$600000</td>
                                    <td class="buttonv">
                                  
                                        <u>view</u>
                                        
                                       
                                 </td>
                            </tr>
                            <tr>
                                <th scope="row">Monicca James<br>
                                    <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);">ID 12345677</p></th>
                                    <td>+91 9837283727</td>
                                    <td>Income<br>
                                   <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);"> Salary</p></td>
                                    <td>$200</td>
                                    <td>Savings</td>
                                    <td>$600000</td>
                                    <td class="buttonv">
                                  
                                        <u>view</u>
                                        
                                       
                                 </td>
                            </tr>
                            <tr>
                                <th scope="row">Monicca James<br>
                                    <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);">ID 12345677</p></th>
                                    <td>+91 9837283727</td>
                                    <td>Income<br>
                                   <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);"> Salary</p></td>
                                    <td>$200</td>
                                    <td>Savings</td>
                                    <td>$600000</td>
                                    <td class="buttonv">
                                  
                                        <u>view</u>
                                        
                                       
                                 </td>
                            </tr>
                            <tr>
                                <th scope="row">Monicca James<br>
                                    <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);">ID 12345677</p></th>
                                    <td>+91 9837283727</td>
                                    <td>Income<br>
                                   <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);"> Salary</p></td>
                                    <td>$200</td>
                                    <td>Savings</td>
                                    <td>$600000</td>
                                    <td class="buttonv">
                                  
                                        <u>view</u>
                                        
                                       
                                 </td>
                            </tr>
                            <tr>
                                <th scope="row">Monicca James<br>
                                    <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);">ID 12345677</p></th>
                                    <td>+91 9837283727</td>
                                    <td>Income<br>
                                   <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);"> Salary</p></td>
                                    <td>$200</td>
                                    <td>Savings</td>
                                    <td>$600000</td>
                                    <td class="buttonv">
                                  
                                        <u>view</u>
                                        
                                       
                                 </td>
                            </tr>
                            <tr>
                                <th scope="row">Monicca James<br>
                                    <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);">ID 12345677</p></th>
                                    <td>+91 9837283727</td>
                                    <td>Income<br>
                                   <p class="fs-7" style="color: rgba(125, 124, 124, 0.93);"> Salary</p></td>
                                    <td>$200</td>
                                    <td>Savings</td>
                                    <td>$600000</td>
                                    <td class="buttonv">
                                  
                                        <u>view</u>
                                        
                                       
                                 </td>
                            </tr>
            
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <div  style="border-width: 1px 1px 1px 1px;border-color: rgb(0, 0, 0);border-style: solid;" class="rounded-container1">
                view All
              </div>    
  
        </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->